[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "grml-etc-core"]
	path = grml-etc-core
	url = https://github.com/grml/grml-etc-core.git
